page{
	background-color: #f1ece7;
}
.n .topp{
	margin-top: 50rpx;
}
.aaaaa{
	margin-top: 0rpx;
}
.displays{
	width: 100%;
	height: 100%;
	position: fixed;	top: 85rpx;
	left: 0;
	background-color: rgba(0,0,0,.6);
	z-index: 99999999;
	.displays-c{
		width: 650rpx;
		height: 950rpx;
		background-color: #FFFFFF;
		z-index: 999999999999;
		margin-top: 100rpx;
		margin-left: 50rpx;
		border-radius: 50rpx;
		position: relative;
		.x{
			width: 50rpx;
			height: 50rpx;
			border-radius: 50%;
			background-color: green;
			position: absolute;
			top: 10rpx;
			right: 50rpx;
			z-index: 999999;
		}
		.top{
			width: 85%;
			height: 200rpx;
			// background-color: red;
			margin: 0 auto;
			// position: absolute;
			// top: -50rpx;
			// left: 40rpx;
			display: flex;
			image{
				width: 200rpx;
				height: 200rpx;
				border-radius: 30rpx;
				 margin-top: -50rpx;
			}
			.aaa{
				margin-top: 70rpx;
					margin-left: 40rpx;
				.name{
					font-size: 30rpx;
					font-weight: 700;
					color: #3e3e3e;
					
				}
				.number{
					font-size: 24rpx;
					color: #666;
				}
			}
			
			
		}
		.center{
			width: 85%;
			margin: 0 auto;
			// height:210rpx;
			// background-color: black;
			.title{
				font-size: 30rpx;
				font-weight: 700;
				margin-top: 10rpx;
			}
			.n{
				font-size: 24rpx;
				display: flex;
				width: 90%;
				height: 60rpx;
				background-color: #f2f4f3;
				margin-top: 15rpx;
				border-radius: 30rpx;
				padding-left: 20rpx;
				line-height: 60rpx;
			}
			.border{
				border: 2rpx black solid;
				
				height: 58rpx;
			}
		}
		
		
		.puyNum{
			width: 85%;
			height: 60rpx;
			margin: 0 auto;
			margin-top: 60rpx;
			display: flex;
			justify-content: space-between;
			
			.left{
				font-size: 30rpx;
				font-weight: 700;
				margin-top: 10rpx;
			}
			
			.right{
				width:240rpx ;
				display: flex;
				justify-content: space-between;
				font-size: 24rpx;
				.ad{
					width: 60rpx;
					height: 60rpx;
					background-color:#f1ece7;
					border-radius: 50%;
					line-height: 60rpx;
					text-align: center;
				}
				.number{
					height: 60rpx;
					width: 100rpx;
					border-radius: 25rpx;
					line-height: 60rpx;
					text-align: center;
					background-color: #f1ece7;
					
				}
				
			}
		}
		
		.btn{
			width: 85%;
			height: 70rpx;
			margin-top: 80rpx;
			.btn-c{
				width: 200rpx;
				height: 80rpx;
				background-color: green;
				margin: 0 auto;
				text-align: center;
				line-height: 80rpx;
				background-color: #354e44;
				color: #fff;
				border-radius: 20rpx;
				font-size: 30rpx;
			}
		}
	}
}
view{
	.store{
		position: absolute;
		right: 100rpx;
		top: 600rpx;
		z-index: 9999;
	}
	.banner{
		width: 100%;
		height: 600rpx;
		margin: 0 auto;
		.swiper{
			width: 100%;
			height: 600rpx;
		}
		.swiper-item{
			width: 100%;
			height: 600rpx;
		image{
			width: 100%;
			height: 600rpx;
		}
		}
	}
	
	.top{
		width: 90%;
		margin: 0 auto;
		margin-top: 100rpx;
		
		.price{
			display: flex;
			align-items:stretch;
			
			.left{
				font-size: 50rpx;
				color: red;
				font-weight: 700;
			}
			.str{
				font-size: 24rpx;
				color: red;
				font-weight: 700;
				line-height:80rpx ;
			}
			.center{
				font-size: 24rpx;
				font-weight: 700;
				line-height:80rpx ;
				color: #b5b5b5;
				text-decoration:line-through;
			}
			.right{
				margin-left: 10rpx;
				view{
					font-size: 24rpx;
					color: #fff;
					background-color: red;
					margin-top: 20rpx;
					// width: 40rpx;
					height: 40rpx;
					width: 200rpx;
					text-align: center;
					line-height: 40rpx;
					border-radius: 10rpx;
				}
			}
		}
		.no{
			width: 30rpx;
			font-weight: 700;
			margin-top: -50rpx;
		}
		.text{
			font-size: 24rpx;
			margin-top: 40rpx;
			color: #666;
		}
	}
	
	.bottom{
		width:90%;
		margin: 0 auto;
		margin-top:100rpx;
		overflow: hidden;
		margin-bottom: 130rpx;
		// margin-bottom: 100rpx;
	}
	
	
	.tabs{
		width: 750rpx;
		height: 120rpx;
		background-color: #fff;
		position: fixed;
		bottom: 0;
		left: 0;
		z-index: 99999;
		display: flex;
		justify-content: space-between;
		align-items: center;
		uni-text{
			margin-left: 30rpx;
		}
		.right{
			width: 450rpx;
			height: 80rpx;
			background-color: red;
			margin-right: 30rpx;
			display: flex;
			font-size: 30rpx;
			.car{
				width: 50%;
				background-color:#e2e2e2 ;
				color:#8f8f94 ;
				text-align: center;
				line-height: 80rpx;
			}
			.buy{
				width: 50%;
				
				background-color: #354e44;
				color: #fff;
				text-align: center;
				line-height: 80rpx;
			}
		}
	}
}